body{
    background-color: ghostwhite(255, 25, 0);
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}footer{
    background-color:blue(55, 255,0);
    color:lightseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
    }