body{
    background-color: ghostwhite(255, 25, 0);
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}footer{
    background-color:blue(55, 255,0);
    color:lightseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
::root{
    --text-color:#46304b;
     --text-color:#ff0000;
      --text-color:#ffd900;
    }
    .container{
        margin: 1rem 1rem;
        height:20rem;
        flex-grow: 1;
        flex-basis: calc(33%-6rem);
        }
        .cartão-corteudo{
            text-align: center;
            background-color: var(--card-front-color);
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 300ms ease-in-out;
            }
            